<body>
    <main class="contact w-100 m-auto">
        <div class="container d-flex h-100 p-3 mx-auto flex-column mb-5" style="width: 40%;">
            <div class="mr-auto">
                <h2>Bize Ulaşın</h2>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quaerat autem corrupti asperiores
                    accusantium et fuga! Facere excepturi, quo eos, nobis doloremque dolor labore expedita illum iusto, aut
                    repellat
                    fuga!
                </p>
                <ul class="list-unstyled pl-md-5 mb-5">
                    <li class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                        <i class="fa fa-envelope bi me-2"></i>
                        tubitakproje@gmail.com
                    </li>
                </ul>
            </div>
        </div>
    </main>
    
</body>