<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark bd-navbar">
    <div class="container-xxl bd-gutter flex-wrap flex-lg-nowrap d-flex justify-content-between">

        <div class="navbar-header">
            <a class="navbar-brand text-white d-none d-lg-block" routerLink="/">
                <img src="assets/images/logo.png" height="35" class="d-inline-block align-text-top">
                Ana Sayfa
            </a>
            <a class="navbar-brand text-white d-lg-none" routerLink="/">
                <img src="assets/images/logo.png" height="35" class="d-inline-block align-text-top">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-wrap bd-navbar-nav pt-2 py-md-0 text-start text-custom">
                <!-- flex-row vardı -->
                <!-- <li class="nav-item col-md-auto">
                    <a class="nav-link text-white" aria-current="page" routerLink="/historical-artifacts">
                        {{getTranslate("historicalArtifacts")}}
                    </a>
                </li> -->
                <!-- <li class="nav-item col-md-auto">
                    <a class="nav-link text-white" aria-current="page" routerLink="/cities">
                        {{getTranslate("cities")}}
                    </a>
                </li> -->
                <li class="nav-item nav-item-link col-md-auto">
                    <!-- her birinde col 6 vardı -->
                    <a class="nav-link nav-link-custom text-white" aria-current="page" routerLink="/konya">
                        Konya
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Kitabeler
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item nav-item-link" style="white-space: normal;"
                                (click)="navigate('/konya-kitabeleri/selcuklu-donemi', 'selcuklu-donemi')">
                                Selçuklu Dönemi
                            </a>
                        </li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li> -->
                        <li>
                            <a class="dropdown-item nav-item-link" style="white-space: normal;"
                                (click)="navigate('/konya-kitabeleri/osmanli-donemi', 'osmanli-donemi')">
                                Osmanlı Dönemi
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-link col-md-auto">
                    <!-- her birinde col 6 vardı -->
                    <a class="nav-link nav-link-custom text-white" aria-current="page" routerLink="/virtual-tours">
                        Sanal Gezi
                    </a>
                </li>
                <li class="nav-item nav-item-link col-md-auto">
                    <a class="nav-link nav-link-custom text-white" aria-current="page" routerLink="/about-us">
                        Hakkımızda
                    </a>
                </li>
                <li class="nav-item nav-item-link col-md-auto">
                    <!-- her birinde col 6 vardı -->
                    <a class="nav-link nav-link-custom text-white" aria-current="page" routerLink="/contact">
                        İletişim
                    </a>
                </li>
            </ul>


            <hr class="d-md-none text-white-50">


            <ul class="navbar-nav flex-row flex-wrap ms-md-auto ps-2 align-items-center text-start">

                <!-- Search Form -->
                <li class="nav-item me-5">
                    <form class="d-flex" [formGroup]="searchEngineForm" role="search">
                        <input class="form-control me-2" formControlName="searchText" type="search" placeholder="Ara"
                            aria-label="Ara">
                        <button class="btn btn-outline-light" type="submit" (click)="search()">Ara</button>
                    </form>

                    <script async src="https://cse.google.com/cse.js?cx=9d34fc90669dd6cf1"></script>
                    <div class="gcse-search"></div>
                </li>

                <!-- Language -->
                <li class="nav-item dropdown dropdown-menu-end">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="flag-icon flag-icon-{{getCurrentLanguage().flagCode}} flag-icon-squared"></span>
                        {{getCurrentLanguage()!.languageName}}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdown">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" (click)="setLanguage(language.code)">
                                <span class="flag-icon flag-icon-{{language.flagCode}} flag-icon-squared"></span>
                                {{language.languageName}}
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>