<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark bd-navbar">
    <div class="container-xxl bd-gutter flex-wrap flex-lg-nowrap d-flex justify-content-between">

        <!-- <div class="d-lg-none" style="width: 2.25rem;"></div> -->
        <div class="navbar-header">
            <a class="navbar-brand text-white d-none d-lg-block" routerLink="/">
                <img src="assets/images/logo.png" height="35" class="d-inline-block align-text-top">
                <!-- Kitabelerin Dili -->
            </a>
            <a class="navbar-brand text-white d-lg-none me-0" routerLink="/">
                <img src="assets/images/logo.png" height="35" class="d-inline-block align-text-top">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
            <ul class="navbar-nav flex-wrap bd-navbar-nav pt-2 py-md-0 text-start text-custom">
                <!-- flex-row vardı -->
                <!-- <li class="nav-item col-md-auto">
                    <a class="nav-link text-white" aria-current="page" routerLink="/historical-artifacts">
                        {{getTranslate("historicalArtifacts")}}
                    </a>
                </li> -->
                <!-- <li class="nav-item col-md-auto">
                    <a class="nav-link text-white" aria-current="page" routerLink="/cities">
                        {{getTranslate("cities")}}
                    </a>
                </li> -->
                <li class="nav-item nav-item-link col-md-auto">
                    <!-- her birinde col 6 vardı -->
                    <a class="nav-link nav-link-custom text-white" aria-current="page" routerLink="/konya">
                        Konya
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Kitabeler
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item nav-item-link" style="white-space: normal;"
                                (click)="navigate('/konya-kitabeleri/selcuklu-donemi', 'selcuklu-donemi')">
                                Selçuklu Dönemi
                            </a>
                        </li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li> -->
                        <li>
                            <a class="dropdown-item nav-item-link" style="white-space: normal;"
                                (click)="navigate('/konya-kitabeleri/osmanli-donemi', 'osmanli-donemi')">
                                Osmanlı Dönemi
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-link col-md-auto">
                    <!-- her birinde col 6 vardı -->
                    <a class="nav-link nav-link-custom text-white" aria-current="page" routerLink="/virtual-tours">
                        Sanal Gezi
                    </a>
                </li>
                <li class="nav-item nav-item-link col-md-auto">
                    <a class="nav-link nav-link-custom text-white" aria-current="page" routerLink="/about-us">
                        Hakkımızda
                    </a>
                </li>
                <li class="nav-item nav-item-link col-md-auto">
                    <!-- her birinde col 6 vardı -->
                    <a class="nav-link nav-link-custom text-white" aria-current="page" routerLink="/contact">
                        İletişim
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav flex-row flex-wrap ms-md-auto ps-2 align-items-center text-start">

                <!-- Search Form -->
                <li class="nav-item me-2">

                    <ng-template #resultTemplate class="" let-result="result" let-searchedText="term">
                        <div class="well search-result">
                            <div class="row" style="min-width: 308px;">

                                <div class="col-md-4 col-lg-3 col-sm-4">
                                    <div *ngIf="result.artifactImages.length > 0"
                                        class="d-flex justify-content-center align-items-center ">
                                        <img class="img-responsive" [src]="baseUrl+result.artifactImages[0].path"
                                            height="34" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-9 col-sm-8">
                                    <div class="me-auto">
                                        <div class="fw-light">
                                            <ngb-highlight highlightClass="fw-bold"
                                                [result]="getTranslate(result.artifact.name)" [term]="searchedText">
                                            </ngb-highlight>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-template>

                    <hr class="d-lg-none text-white-50">

                    <div class="search-filter" style="width: 320px;">
                        <fa-icon [icon]="faSearch" class="fa-icon-search"></fa-icon>
                        <input id="typeahead-basic" type="search" class="form-control filter-input search-filter-input"
                            [(ngModel)]="searchText" [resultTemplate]="resultTemplate" [ngbTypeahead]="search"
                            [inputFormatter]="inputFormatter" [editable]='false' (selectItem)="searchSelected($event)"
                            [placeholder]="getTranslate('searchOnArtifacts')" />
                    </div>

                    <hr class="d-lg-none text-white-50">
                </li>

                <!-- Language -->
                <li class="nav-item dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span
                            class="flag-icon flag-icon-{{getLanguageFlagCode(currentLanguage.code!)}} flag-icon-squared"></span>
                        {{currentLanguage!.languageName}}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" (click)="setLanguage(language.code!)">
                                <span
                                    class="flag-icon flag-icon-{{getLanguageFlagCode(language.code!)}} flag-icon-squared"></span>
                                {{language.languageName}}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown dropdown-menu-end ms-2" *ngIf="isAuthenticated()">

                    <a class="nav-link d-block link-dark text-decoration-none dropdown-toggle" role="button"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32"> -->
                        {{getUser().firstName + ' ' + getUser().lastName}}
                    </a>

                    <ul class="dropdown-menu text-small dropdown-menu-dark" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" routerLink="/admin">Admin</a></li>
                        <li><a class="dropdown-item disabled">{{getTranslate('settings')}}</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="signOut()">{{getTranslate('signOut')}}</a></li>
                    </ul>

                </li>

            </ul>
        </div>
    </div>
</nav>