<!-- First (Top) Navbar -->
<!-- <nav class="navbar sticky-top navbar-expand navbar-first navbar-dark bg-dark border-bottom">
    <div class="container-xxl px-4">

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link p-2" href="https://facebook.com/" target="_blank" rel="noopener">
                        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link p-2" href="https://www.instagram.com/" target="_blank" rel="noopener">
                        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav> -->

<!-- İmg Header -->
<!-- <div class="header-image d-none d-lg-block">
    <img src="assets/images/header-image.jpg" height="40" style="display: block;" alt="">
</div>
<div class="header-image d-lg-none">
    <img src="assets/images/header-image-sm.jpg" height="40" style="display: block;" alt="">
</div> -->

<!-- Text Header -->
<!-- <nav class="navbar sticky-top navbar-expand navbar-first navbar-dark bg-dark border-bottom">
    <div class="container-fluid justify-content-center">

        <span class="navbar-text text-white text-uppercase">
            Kitabelerin Dili ile Tüm Eserleri Gezebilirsin!
        </span>

    </div>
</nav> -->

<!-- Second Navbar -->
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark bd-navbar shadow-lg second-navbar">
    <div class="container-xxl bd-gutter flex-wrap flex-lg-nowrap d-flex justify-content-between">

        <div class="navbar-header">
            <a class="navbar-brand text-white d-none d-lg-block" routerLink="/" (click)="callCollapseEvent();">
                <img src="assets/images/logo.webp" height="35" class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand text-white d-lg-none me-0" routerLink="/" (click)="callCollapseEvent();">
                <img src="assets/images/logo.webp" height="35" class="d-inline-block align-text-top">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
            <ul class="navbar-nav flex-wrap bd-navbar-nav pt-2 py-md-0 text-start text-custom">
                <!-- Lg None -->
                <li class="nav-item d-lg-none col-md-auto">
                    <a class="nav-link nav-link-custom nav-link-collapse" aria-current="page" routerLink="/">
                        Ana Sayfa
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link nav-link-custom nav-link-collapse" aria-current="page" routerLink="/konya">
                        Konya
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Kitabeler
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li *ngFor="let histPeriod of histPeriods">

                            <!-- lg -->
                            <a class="dropdown-item nav-link-collapse" style="white-space: normal;"
                                (click)="navigate('/konya-kitabeleri/' + histPeriod?.paramName, histPeriod.paramName); callCollapseEvent();">
                                {{histPeriod.name}}
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item col-md-auto">
                    <a class="nav-link nav-link-custom disabled nav-link-collapse text-white-50" routerLink="/virtual-tours">
                        Sanal Gezi
                    </a>
                </li> -->
                <li class="nav-item col-md-auto">
                    <a class="nav-link nav-link-custom nav-link-collapse" routerLink="/about-us">
                        Hakkımızda
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link nav-link-custom nav-link-collapse" routerLink="/contact">
                        İletişim
                    </a>
                </li>
            </ul>

            <hr class="d-lg-none text-white-50">
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto ps-2 align-items-center text-start">

                <!-- Social -->

                <li class="nav-item col-lg-auto col-6">
                    <a class="nav-link py-2 px-0 px-lg-2" [href]="getSocialLink('instagram')" target="_blank"
                        rel="nofollow">
                        <fa-icon [icon]="faInstagram" class="fa-lg"></fa-icon>
                        <small class="d-lg-none ms-2">İnstagram</small>
                    </a>
                </li>

                <li class="nav-item col-lg-auto col-6 me-1">
                    <a class="nav-link py-2 px-0 px-lg-2" [href]="getSocialLink('facebook')" target="_blank"
                        rel="nofollow">
                        <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        <small class="d-lg-none ms-2">Facebook</small>
                    </a>
                </li>

                <!-- Search Form -->
                <hr class="d-lg-none text-white-50 w-100">
                <li class="nav-item me-2">

                    <ng-template #resultTemplate class="" let-result="result" let-searchedText="term">
                        <div class="well search-result">
                            <div class="row" style="min-width: 308px;">

                                <div class="col-md-4 col-lg-3 col-sm-4">
                                    <div *ngIf="result.artifactImages.length > 0"
                                        class="d-flex justify-content-center align-items-center ">
                                        <img class="img-responsive" [src]="baseUrl+result.artifactImages[0].path"
                                            height="34" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-9 col-sm-8">
                                    <div class="me-auto">
                                        <div class="fw-light">
                                            <ngb-highlight highlightClass="fw-bold"
                                                [result]="getTranslate(result.artifact.name)" [term]="searchedText">
                                            </ngb-highlight>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-template>



                    <div class="search-filter" style="width: 320px;">
                        <fa-icon [icon]="faSearch" class="fa-icon-search search-icon"></fa-icon>
                        <input id="typeahead-basic" type="search" class="form-control" style="padding-left: 2.375rem;"
                            [(ngModel)]="searchText" [resultTemplate]="resultTemplate" [ngbTypeahead]="search"
                            [inputFormatter]="inputFormatter" [focusFirst]="true" [editable]='false' (selectItem)="searchSelected($event)"
                            [placeholder]="getTranslate('searchOnArtifacts')" />
                    </div>


                </li>
                <hr class="d-lg-none text-white-50 w-100">
                <!-- Language -->
                <li class="nav-item dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span
                            class="flag-icon flag-icon-{{getLanguageFlagCode(currentLanguage.code!)}} flag-icon-squared"></span>
                        {{currentLanguage!.languageName}}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" (click)="setLanguage(language.code!)">
                                <span
                                    class="flag-icon flag-icon-{{getLanguageFlagCode(language.code!)}} flag-icon-squared"></span>
                                {{language.languageName}}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown dropdown-menu-end ms-2" *ngIf="isAuthenticated()">

                    <a class="nav-link d-block link-dark text-decoration-none dropdown-toggle" role="button"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32"> -->
                        {{getUser().firstName + ' ' + getUser().lastName}}
                    </a>

                    <ul class="dropdown-menu text-small dropdown-menu-dark" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" routerLink="/admin">Admin</a></li>
                        <li><a class="dropdown-item disabled">{{getTranslate('settings')}}</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="signOut()">{{getTranslate('signOut')}}</a></li>
                    </ul>

                </li>

            </ul>
        </div>
    </div>
</nav>