<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-2">
            <div class="bd-sidebar h-100">
                <div class="flex-shrink-0 p-3 bg-transparent">
                    <div *ngFor="let period of histPeriods; let i = index;">
                        <a [routerLink]="'/konya-kitabeleri/'+period.paramName" class="d-flex align-items-center pb-3 mt-3 link-dark text-decoration-none">
                            <span class="fs-5 fw-semibold">{{period.name}}</span>
                        </a>
                        <ul class="list-unstyled ps-0 ">

                            <li class="mb-1" *ngFor="let artifactType of artifactTypes; let j = index;">
                                <button
                                    class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                    data-bs-toggle="collapse" [attr.data-bs-target]="'#'+artifactType.name+i"
                                    aria-expanded="true">
                                    {{artifactType.name}}
                                </button>
                                <div class="collapse bd-sidebar-collapse"
                                    
                                    [id]="artifactType.name+i">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li
                                            *ngFor="let artifact of getArtifactsByTypeAndPeriod(artifactType.id, period.id)">
                                            <a class="sub-link link-dark d-inline-flex text-decoration-none rounded"
                                                [ngClass]="{'active': currentArtifact.artifact.id === artifact.artifact.id}"
                                                [id]="createRouteUrl(period.paramName, artifactType.id, artifact.artifact.id!)"
                                                (click)="selectArtifact(period.paramName, artifactType.id, artifact.artifact.id!)">
                                                {{artifact.artifact.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- Content -->

        <div class="col-md-10">
            <div class="bd-main order-1 mb-5">

                <div class="row">
                    <div class="col-md-10">
                        <div class="bd-intro ps-lg-2 mt-2">
                            <div class="d-md-flex text-start align-items-center justify-content-start">
                                <h1 class="bd-title mb-0" id="approach-1">{{currentArtifact.artifact.name}}</h1>
                            </div>
                            <p class="bd-lead">
                                {{currentArtifact.artifact.description}}
                            </p>

                            <div class="bd-content pt-4">
                                <div class="mb-5">
                                    <h2 id="approach-2">
                                        Kitabe
                                        <a class="anchor-link" href="#approach"
                                            aria-label="Link to this section: Approach"></a>
                                    </h2>
                                    <img [src]="currentArtifact.artifact.epitaphImagePath" alt="" width="500"
                                        height="500" class="img-fluid">
                                    <p class="mt-4" id="1">
                                        {{currentArtifact.artifact.epitaph}}
                                    </p>
                                </div>
                                <div class="mb-5">
                                    <h2 id="approach-3">
                                        Sanal Gezi
                                        <a class="anchor-link" href="#approach"
                                            aria-label="Link to this section: Approach"></a>
                                    </h2>
                                    <img [src]="currentArtifact.artifact.epitaphImagePath" alt="" width="500"
                                        height="500" class="img-fluid">
                                </div>
                                <div class="mb-5">
                                    <h2 id="approach-4">
                                        Konum
                                        <a class="anchor-link" href="#approach"
                                            aria-label="Link to this section: Approach"></a>
                                    </h2>
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100699.78118967438!2d32.446868752836885!3d37.93351029051349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d0851041d7b9a3%3A0x843bb18685ba9410!2sMevlana%20M%C3%BCzesi!5e0!3m2!1str!2str!4v1653497627077!5m2!1str!2str"
                                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="bd-toc mt-3 mb-5 ps-xl-3 mb-lg-5 text-muted">
                            <button
                                class="btn btn-link link-dark p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none"
                                type="button" data-bs-toggle="collapse" data-bs-target="#tocContents"
                                aria-expanded="false" aria-controls="tocContents">
                                Bu sayfada
                                <svg class="bi d-md-none ms-2" aria-hidden="true">
                                    <use xlink:href="#chevron-expand"></use>
                                </svg>
                            </button>
                            <strong class="d-none d-md-block h6 my-2">Bu sayfada</strong>
                            <hr class="d-none d-md-block my-2">
                            <div class="collapse bd-toc-collapse" id="tocContents">
                                <nav id="TableOfContents">
                                    <ul>
                                        <li>
                                            <a class="link" (click)="scroll('approach-1')">{{currentArtifact.artifact.name}}</a>
                                            <ul>
                                                <li>
                                                    <a class="link" (click)="scroll('approach-2')">Kitabe</a>
                                                </li>
                                                <li>
                                                    <a class="link" (click)="scroll('approach-3')">Sanal Gezi</a>
                                                </li>
                                                <li>
                                                    <a class="link" (click)="scroll('approach-4')">Konum</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>