<body>
    <!-- Sm Historical Periods -->
    <nav class="navbar bg-light d-md-none">
        <div class="container-fluid">

            <a class="d-flex align-items-center link-dark text-decoration-none">
                <!-- <img src="http://localhost:4200/assets/images/logo.png" class="me-2" width="30"> -->
                <fa-icon [icon]="faMonument" size="2x" class="me-2 text-success"></fa-icon>
                <span class="fs-5 fw-semibold">Kitabeler</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#histPeriodOffcanvas" aria-controls="histPeriodOffcanvas" aria-expanded="false"
                aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="offcanvas" data-bs-target="#histPeriodOffcanvas"
                    width="30" height="30" fill="currentColor" class="bi bi-arrows-collapse" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z" />
                </svg>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="histPeriodOffcanvas"
                aria-labelledby="histPeriodOffcanvasLabel">
                <div class="offcanvas-header">
                    <fa-icon [icon]="faMonument" size="2x" class="me-2 text-success"></fa-icon>
                    <h5 class="offcanvas-title" id="histPeriodOffcanvasLabel">Kitabeler</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">

                    <!-- Historical Periods -->
                    <div *ngFor="let histPeriod of histPeriods; let i = index;"
                        class="historical-period-list d-md-none">
                        <div *ngIf="checkHistPeriodContainsArtifact(histPeriod.paramName)">
                            <h6
                                class="sidebar-heading d-flex justify-content-between align-items-center mt-2 mb-1 text-muted text-uppercase">
                                {{histPeriod.name}}
                            </h6>
                            <ul class="artifact-type-list list-unstyled ps-0">

                                <li *ngFor="let artifactType of artifactTypes; let j = index;" class="mb-1">
                                    <div
                                        *ngIf="getArtifactsByTypeAndPeriod(artifactType.id, histPeriod.paramName).length > 0">
                                        <button
                                            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed shadow-none"
                                            data-bs-toggle="collapse"
                                            [attr.data-bs-target]="'#c'+'hist-period-'+i+'artifact-type-'+j"
                                            aria-expanded="false">
                                            {{artifactType.name}}
                                        </button>
                                        <div class="collapse" [id]="'c'+'hist-period-'+i+'artifact-type-'+j">
                                            <ul class="artifact-list btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li
                                                    *ngFor="let artifact of getArtifactsByTypeAndPeriod(artifactType.id, histPeriod.paramName)">
                                                    <a class="link-dark d-inline-flex text-decoration-none rounded"
                                                        data-bs-dismiss="offcanvas" (click)="scroll('approach-1')"
                                                        routerLink="/konya-kitabeleri/{{histPeriod.paramName}}/{{artifactType.id}}/{{artifact.artifact.id}}">
                                                        {{getTranslate(artifact.artifact.name)}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- End Historical Periods -->

                </div>

            </div>
        </div>
    </nav>

    <div class="container-xxl my-gutter mt-3 my-md-4 my-layout">
        <aside class="my-sidebar d-none d-md-block">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-transparent">

                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <img src="assets/images/logo.webp" class="me-2" width="30">
                    <span class="fs-5 fw-semibold">Kitabeler</span>
                </a>

                <!-- Historical Periods -->
                <div *ngFor="let histPeriod of histPeriods; let i = index;" class="historical-period-list">
                    <div *ngIf="checkHistPeriodContainsArtifact(histPeriod.paramName)">
                        <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center mt-2 mb-1 text-muted text-uppercase">
                            {{histPeriod.name}}
                        </h6>
                        <ul class="artifact-type-list list-unstyled ps-0">

                            <li *ngFor="let artifactType of artifactTypes; let j = index;" class="mb-1">
                                <div
                                    *ngIf="getArtifactsByTypeAndPeriod(artifactType.id, histPeriod.paramName).length > 0">
                                    <button
                                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed shadow-none"
                                        data-bs-toggle="collapse"
                                        [attr.data-bs-target]="'#c'+'hist-period-'+i+'artifact-type-'+j"
                                        aria-expanded="false">
                                        {{artifactType.name}}
                                    </button>
                                    <div class="collapse" [id]="'c'+'hist-period-'+i+'artifact-type-'+j">
                                        <ul class="artifact-list btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                            <li
                                                *ngFor="let artifact of getArtifactsByTypeAndPeriod(artifactType.id, histPeriod.paramName)">
                                                <a class="link-dark d-inline-flex text-decoration-none rounded"
                                                    routerLink="/konya-kitabeleri/{{histPeriod.paramName}}/{{artifactType.id}}/{{artifact.artifact.id}}">
                                                    {{getTranslate(artifact.artifact.name)}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- End Historical Periods -->
            </div>
        </aside> <!-- End Sidebar -->

        <!-- Content -->
        <main class="my-main order-1">
            <!-- Spinner -->
            <div *ngIf="!dataLoaded || !currentArtifact" class="d-flex justify-content-center mt-5">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <!-- Data -->
            <div *ngIf="dataLoaded && currentArtifact" class="my-content ps-lg-2">
                <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between pt-2">

                    <a class="d-none d-lg-block btn btn-sm btn-outline-secondary mb-3 mb-md-0 rounded-2" type="button"
                        style="min-width: 110px;" data-bs-toggle="collapse" data-bs-target="#collapseLarge"
                        aria-expanded="false" aria-controls="collapseLarge">
                        {{currentArtifact.artifactType.name + ' Hakkında'}}
                    </a>
                    <a class="d-lg-none btn btn-sm btn-outline-secondary mb-3 mb-md-0 rounded-2" type="button"
                        style="min-width: 110px;" data-bs-toggle="collapse" data-bs-target="#collapseNative"
                        aria-expanded="false" aria-controls="collapseNative">
                        {{currentArtifact.artifactType.name + ' Hakkında'}}
                    </a>
                    <!-- For Native -->
                    <div class="collapse mb-3" id="collapseNative">
                        <div>
                            <div class="card card-body">
                                <h5 class="card-title">
                                    {{currentArtifact.artifactType.name + ' Nedir?'}}
                                </h5>
                                {{currentArtifact.artifactType.description}}
                            </div>
                        </div>
                    </div>
                    
                    <h1 class="my-title mb-0" id="approach-1" style="max-width: 600px;">
                        {{getTranslate(currentArtifact.artifact.name)}}</h1>

                </div>
                <p class="my-lead">
                    {{getTranslate(currentArtifact.artifact.summary!)}}
                </p>
                <!-- For Large -->
                <div class="collapse mb-3" id="collapseLarge">
                    <div>
                        <div class="card card-body">
                            <h5 class="card-title">
                                {{currentArtifact.artifactType.name + ' Nedir?'}}
                            </h5>
                            {{currentArtifact.artifactType.description}}
                        </div>
                    </div>
                </div>

                <div class="bd-content pt-5">
                    <div class="mb-5">
                        <h2 id="approach-2">
                            Hakkında
                        </h2>
                        <img *ngIf="currentArtifact && currentArtifact.artifactImages.length > 0"
                            [src]="baseUrl+currentArtifact.artifactImages[0].path" alt="" class="img-fluid mb-3"
                            width="500" height="500">
                        <p class="mt-3" style="text-align: justify;" id="1">
                            {{getTranslate(currentArtifact.artifact.description!)}}
                        </p>
                    </div>
                    <div class="mb-5">
                        <h2 id="approach-3">
                            Kitabesi
                        </h2>
                        <img *ngIf="currentArtifact?.epitaphImage" [src]="baseUrl+currentArtifact.epitaphImage.path"
                            alt="" width="500" height="500" class="img-fluid">
                        <p class="mt-4 word" style="white-space: pre-wrap; text-align: justify;" id="2">
                            {{currentArtifact.artifact.originalEpitaph}}
                        </p>


                        <div *ngIf="currentArtifact.artifact.epitaph" id="epitaphTranslation">
                            <div class="card border-secondary card-body">
                                <p class="card-text" style="white-space: pre-wrap; text-align: justify;">
                                    {{getTranslate(currentArtifact.artifact.epitaph!)}}</p>

                                <p class="card-text" style="text-align: justify;"><small
                                        class="text-muted">{{currentLanguage?.languageName}}</small>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="mb-5">
                        <h2 id="approach-4">
                            Video
                        </h2>

                        <div *ngIf="!checkVideoExists()">
                            <p class="fs-4 text-muted">Bu esere ait henüz bir video bulunamadı.</p>
                        </div>

                        <div *ngIf="checkVideoExists()" class="ratio ratio-16x9">
                            <iframe [src]="'https://www.youtube.com/embed/'+getCurrentVideoId() | safe"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                    </div>

                    <!-- <div class="mb-5">
                        <h2 id="approach-4">
                            Sanal Gezisi
                        </h2>
                    </div> -->

                    <div class="mb-5">
                        <h2 id="approach-5">
                            Konumu
                        </h2>

                        <div *ngIf="!currentArtifact.artifact.latitude || !currentArtifact.artifact.longitude">
                            <p class="fs-4 text-muted">Bu esere ait henüz bir konum bulunamadı.</p>
                        </div>

                        <div *ngIf="currentArtifact.artifact.latitude && currentArtifact.artifact.longitude"
                            class="ratio ratio-16x9">
                            <!-- LG -->
                            <iframe class="d-none d-lg-block"
                                [src]="'//maps.google.com/maps?q=' +currentArtifact.artifact.latitude +',' + currentArtifact.artifact.longitude + '&z=15&output=embed' | safe"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>

                            <!-- SM -->
                            <iframe class="d-lg-none"
                                [src]="'//maps.google.com/maps?q=' +currentArtifact.artifact.latitude +',' + currentArtifact.artifact.longitude + '&z=15&output=embed' | safe"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Toc -->
            <div class="my-toc mt-3 mb-5 my-lg-0 ps-xl-3 mb-lg-5 text-muted d-none d-md-block">
                <!-- <button class="btn btn-link link-dark p-md-0 mb-2 mb-md-0 text-decoration-none my-toc-toggle d-md-none"
                    type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false"
                    aria-controls="tocContents">
                    On this page
                    <svg class="bi d-md-none ms-2" aria-hidden="true">
                        <use xlink:href="#chevron-expand"></use>
                    </svg>
                </button> -->
                <strong class="d-none d-md-block h6 my-2">{{getTranslate('onThisPage')}}</strong>
                <hr class="d-none d-md-block my-2">
                <div class="collapse my-toc-collapse" id="tocContents">
                    <nav id="TableOfContents">
                        <ul>
                            <li>
                                <a class="link"
                                    (click)="scroll('approach-1')">{{getTranslate(currentArtifact?.artifact?.name ??
                                    '')}}</a>
                                <ul>
                                    <li>
                                        <a class="link" (click)="scroll('approach-2')">Hakkında</a>
                                    </li>
                                    <li>
                                        <a class="link" (click)="scroll('approach-3')">Kitabesi</a>
                                        <ul>
                                            <li>
                                                <a class="link" (click)="scroll('epitaphTranslation')">Kitabe
                                                    Çevirisi</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="link" (click)="scroll('approach-4')">Video</a>
                                    </li>
                                    <li>
                                        <a class="link" (click)="scroll('approach-5')">Konumu</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </main> <!-- End Content -->
    </div>

</body>