.btn-collapse {
  font-size: 0.875rem;
}

.form-search {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

/* -------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------ Bootstrap Docs Css ------------------------------------------ */
/* -------------------------------------------------------------------------------------------------------- */

.my-title {
  font-size: 3rem;
}

.my-lead {
  font-size: 1.5rem;
  font-weight: 300;
}

.my-gutter {
  --bs-gutter-x: 3rem;
}

@media (min-width: 992px) {
  .my-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1.2fr 4.8fr;
    gap: 1.5rem;
  }
}

/* ------------------------------------------ Sidebar ------------------------------------------ */

@media (min-width: 992px) {
  .my-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: scroll;
  }
}

.my-sidebar {
  grid-area: sidebar;
}

/* ------------------------------------------ Main ------------------------------------------ */

.my-main {
  grid-area: main;
  min-height: 100vh;
}

@media (max-width: 991.98px) {
  .my-main {
    max-width: 760px;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .my-main {
    display: grid;
    grid-template-areas: "intro" "toc" "content";
    grid-template-rows: auto auto 1fr;
    gap: inherit;
  }
}
@media (min-width: 992px) {
  .my-main {
    grid-template-areas: "intro toc" "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }
}

.my-content {
  grid-area: content;
  min-width: 1px;
}

/* ------------------------------------------ Toc ------------------------------------------ */

.player {
  min-width: 450px;
  max-width: 600px;
}
