<footer class="">
    <div class="bd-footer py-5 bg-light">
        <!-- bg-light -->
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <ul class="list-unstyled small">
                        <!-- text-muted -->
                        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                            aria-label="Bootstrap">
                            
                            <!-- <i class="icon-logo me-2" style="font-size: 32px;"></i> -->
                            <a class="navbar-brand text-white" routerLink="/">
                                <img src="assets/images/logo.png" height="35" class="d-inline-block align-text-top">
                            </a>
                            <span class="fs-5">Konya Kitabelerinin Dili</span>
                        </a>
                        <li class="mb-2">
                            Bu proje lise öğrencileri araştırma projeleri kapsamında hazırlanmıştır.
                        </li>
                        <!-- <li class="mb-2">Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE"
                              target="_blank" rel="license noopener">MIT</a>, docs <a
                              href="https://creativecommons.org/licenses/by/3.0/" target="_blank"
                              rel="license noopener">CC BY 3.0</a>.</li>
                      <li class="mb-2">Currently v5.1.0.</li> -->
                    </ul>
                </div>
                <div class="col-6 col-lg-1 offset-lg-1 mb-3">
                    <h5>{{getTranslate("links")}}</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a class="link-dark link" routerLink="/">Anasayfa</a>
                        </li>
                        <li class="mb-2">
                            <a class="link-dark link" routerLink="/konya">Konya</a>
                        </li>
                        <li class="mb-2">
                            <a class="link-dark link" (click)="navigate('/konya-kitabeleri/selcuklu-donemi', 'selcuklu-donemi')">Konya Kitabeleri</a>
                        </li>
                        <!-- <li class="mb-2">
                            <a class="link-dark link" routerLink="/virtual-tours">Sanal Gezi</a>
                        </li> -->
                        <li class="mb-2">
                            <a class="link-dark link" routerLink="/source">Kaynakça</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>{{getTranslate("social")}}</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="link-dark link"
                                href="https://www.instagram.com/soruluk_/?hl=tr">İnstagram</a></li>
                        <li class="mb-2"><a class="link-dark link" href="https://twitter.com/Soruluk1">Twitter</a></li>
                        <li class="mb-2"><a class="link-dark link"
                                href="https://www.facebook.com/SorulukToplulugu/">Facebook</a></li>

                    </ul>
                </div>
                <div class="col-6 col-lg-3 mb-3">
                    <h5>{{getTranslate("contact")}}</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a class="link-dark unlink">konyakitabeler@gmail.com</a>
                        </li>
                        <li class="mb-2">
                            <a class="link-dark unlink">dagbfatih@hotmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-1 mb-3">
                    <h5>{{getTranslate("aboutUs")}}</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="link-dark link"
                                routerLink="/about-us">{{getTranslate("whoAreWe")}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <!-- <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <i class="fa fa-leaf" style="font-size: 28px;"></i>
                    </a> -->
                    <span class="text-muted">© 2021 Company, Inc</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-muted" href="#">
                            <i class="fa fa-whatsapp" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="#">
                            <i class="fa fa-twitter" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-muted" href="#">
                            <i class="fa fa-facebook" style="font-size: 24px;"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>