<footer class="">
  <div class="bd-footer py-5 bg-light">
    <!-- bg-light -->
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <ul class="list-unstyled small">
            <!-- text-muted -->
            <a
              class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none"
              [routerLink]="['/' + getCurrentLanguageShortCode()]"
              aria-label="Bootstrap"
            >
              <!-- <i class="icon-logo me-2" style="font-size: 32px;"></i> -->
              <a class="navbar-brand text-white me-2" [routerLink]="['/' + getCurrentLanguageShortCode()]">
                <img
                  src="assets/images/logo.webp"
                  height="35"
                  class="d-inline-block align-text-top"
                />
              </a>
              <span class="fs-5">Konya Kitabeleri</span>
            </a>
            <li class="mb-2">
              {{ getTranslate('footerDescription') || 'Bu çalışma Selçuklu Bilim ve Sanat Merkezi öğrencileri tarafından 2025 yılında hazırlanmıştır.' }}
            </li>
            <li class="mb-2">{{ getTranslate('version') || 'Sürüm' }} 1.0.8</li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>{{ getTranslate("links") }}</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a class="link-dark link" [routerLink]="['/' + getCurrentLanguageShortCode()]">
                {{ getTranslate('homePage') || 'Anasayfa' }}
              </a>
            </li>
            <li class="mb-2">
              <a class="link-dark link" [routerLink]="['/' + getCurrentLanguageShortCode(), 'konya']">
                {{ getTranslate('konya') || 'Konya' }}
              </a>
            </li>
            <li class="mb-2">
              <a class="link-dark link" [routerLink]="['/' + getCurrentLanguageShortCode(), 'kitabeler']">
                {{ getTranslate('aboutInscriptions') || 'Kitabeler Hakkında' }}
              </a>
            </li>
            <li class="mb-2">
              <a
                class="link-dark link"
                (click)="navigate('/konya-kitabeleri/selcuklu-donemi', 'selcuklu-donemi')"
                style="cursor: pointer;"
              >
                {{ getTranslate('konyaInscriptions') || 'Konya Kitabeleri' }}
              </a>
            </li>
            <!-- <li class="mb-2">
                            <a class="link-dark link" [routerLink]="['/' + getCurrentLanguageShortCode(), 'virtual-tours']">Sanal Gezi</a>
                        </li> -->
            <li class="mb-2">
              <a class="link-dark link" [routerLink]="['/' + getCurrentLanguageShortCode(), 'source']">
                {{ getTranslate('bibliography') || 'Kaynakça' }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-1 mb-3">
          <h5>{{ getTranslate("social") }}</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a
                class="link-dark link"
                [href]="getSocialLink('instagram')"
                rel="nofollow"
                target="_blank"
              >
                {{ getTranslate('instagram') || 'İnstagram' }}
              </a>
            </li>
            <li class="mb-2">
              <a
                class="link-dark link"
                [href]="getSocialLink('facebook')"
                rel="nofollow"
                target="_blank"
              >
                {{ getTranslate('facebook') || 'Facebook' }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h5>{{ getTranslate("contact") }}</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a class="link-dark unlink">konyakitabeler@gmail.com</a>
            </li>
            <li class="mb-2">
              <a class="link-dark unlink">dagbfatih@hotmail.com</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-1 mb-3">
          <h5>{{ getTranslate("aboutUs") }}</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a class="link-dark link" [routerLink]="['/' + getCurrentLanguageShortCode(), 'about-us']">
                {{ getTranslate("whoAreWe") }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-muted">
            {{ getTranslate('copyright') || '2025 Arastırma Projesi © Hakları Saklıdır.' }}
          </span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="me-3">
            <a
              class="text-muted"
              [href]="getSocialLink('instagram')"
              rel="nofollow"
              target="_blank"
            >
              <fa-icon [icon]="faInstagram" style="font-size: 24px"></fa-icon>
            </a>
          </li>
          <li class="me-3">
            <a
              class="text-muted"
              [href]="getSocialLink('facebook')"
              rel="nofollow"
              target="_blank"
            >
              <fa-icon [icon]="faFacebook" style="font-size: 24px"></fa-icon>
            </a>
          </li>
          <li class="text-muted py-1">
            {{ getTranslate('designedBy') || 'Designed by' }}
            <a
              href="https://dagbfatih.com/"
              rel="nofollow"
              target="_blank"
            >Dagbfatih.</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>