<!-- START THE LG  -->
<div class="container-fluid pe-0 ps-0 w-100" id="konya">

    <!-- Carousel -->
    <div class="bd-masthead">
        <div class="container-fluid pe-0 ps-0">
            <div class="row g-0">
                <div class="col-12 d-flex justify-content-center">

                    <!-- lg -->
                    <img src="https://www.konyadayatirim.gov.tr/assets/upload/slider/slider66.jpg"
                        class="img-fluid w-100 h-100 d-none d-lg-block" alt="">

                    <!-- sm -->
                    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg d-lg-none">
                        <img src="https://www.konyadayatirim.gov.tr/assets/upload/slider/slider66.jpg" class="" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Overview -->
    <div class="container marketing mb-5 mt-5" data-bs-spy="scroll" data-bs-target="#myCarousel" data-bs-offset="0"
        tabindex="0">
        <div class="row featurette mb-5" style="margin-top: 5%;">
            <div class="col-md-12">
                <article class="blog-post">

                    <!-- Kitabeler -->
                    <h1 class="blog-post-title mb-1" id="0">Konya</h1>
                    <p class="blog-post-meta">4 Ocak, 2023. Proje ekibi tarafından güncellendi.</p>
                    <p>
                        İsim olarak Luvice <i>“koyun yöresi”</i> anlamına gelen Kawana
                        kelimesinin Bizans döneminde İkonium’a dönüştüğü sanılan ve
                        Selçukluların <i>“gönül hoşluğu”</i> anlamındaki <i>“Gunya”</i> ile ilişkilendirilen
                        Konya, Anadolu’nun orta güney kısmında, geniş
                        bir ovanın batısında, arazinin yükselmeye başladığı yerdeki Alaeddin
                        Tepesi’nin üzerinde kurulmuştur.
                    </p>

                    <!-- Kitabelerin Gelişimi -->
                    <h2>Tarihçe</h2>
                    <p>
                        Konya, tarih boyunca dünyanın en önemli kadim şehirlerinden biri olarak günümüze kadar var
                        olagelmiştir. Konya’da yerleşik şehir hayatının <strong>Prehistorik</strong> (tarih öncesi) çağda başladığı
                        anlaşılmaktadır. Şehir eski çağlarda <i>“İkonium”</i> olarak isimlendirilmiştir.
                    </p>

                    <p>
                        Bugüne kadar bulunmuş en eski ve en gelişmiş neolitik devir yerleşim merkezi olan Çatalhöyük
                        Konya sınırları içerisinde yer almaktadır. Çatalhöyük ayrıca <strong>UNESCO Dünya Miras Listesinde </strong> yer
                        almaktadır.
                    </p>
                    <p>
                        Tarih boyunca Hititler, Frigler, Roma ve Bizans, Büyük Selçuklu, Anadolu Selçuklu Devleti,
                        Karamanoğulları Beyliği ve Osmanlı hâkimiyetinde kalmıştır.
                        Anadolu Selçuklu Devleti <strong>I. Haçlı Seferi</strong> sonunda İznik’i kaybedince, başkent Konya’ya
                        taşınmıştır. Başkent olduktan sonra günden güne gelişen ve pek çok mimarı eserle süslenen kent,
                        kısa zamanda Anadolu’nun en gelişmiş şehirlerinden biri haline gelmiştir.
                    </p>

                    <!-- Kitabelerin Yeri ve Çeşitleri -->
                    <h2>Konyanın Coğrafi Konumu</h2>

                    <ul>
                        <li>
                            Konya ili Anadolu Yarımadası'nın ortasında bulunan İç Anadolu Bölgesi'nin güneyinde,
                            şehrin kendi adıyla anılan Konya bölümünde yer almaktadır.
                        </li>
                        <li>Yüzölçümü <code>41.001</code> km<sup>2</sup>'dir. Bu alanı ile Türkiye'nin en büyük
                            yüzölçümüne sahip olan ilidir.
                            Ortalama yükseltisi <code>1.016</code> m'dir.
                        </li>
                        <li>İdari yönden, kuzeyden Ankara, batıdan Isparta, Afyonkarahisar, Eskişehir, güneyden, İçel,
                            Karaman, Antalya, doğudan, Niğde, Aksaray illeri ile çevrilidir.
                        </li>
                    </ul>

                    <!-- Kitabelerin İçeriği -->
                    <h2>Nüfus</h2>
                    <p>Konya’nın nüfusu <code>2.277.017 </code> kişi olup Türkiye nüfusunun <code>%2.7</code>’sini
                        oluşturmaktadır.
                        İller bazında kıyaslama yapıldığında Konya, Türkiye’nin 7. büyük şehridir.
                        Kilometrekare başına düşen kişi sayısı ise <code>57</code>’dir.
                    </p>

                    <h2>Eğitim</h2>
                    <p>Konya tarih boyunca eğitim alanında da kendisini devamlı geliştirmiş bir şehir olarak
                        bilinmektedir.</p>
                    <ul>
                        <li>Türkiye’de öğrenci sayısı en fazla olan 8. ildir.</li>
                        <li>Toplam öğrenci sayısının ülke genelindeki öğrenci sayısına oranı ise <code>%3</code>’tür.
                        </li>
                        <li>3 devlet, 2 özel olmak üzere 5 adet üniversite mevcuttur.</li>
                    </ul>

                    <h2>Sağlık</h2>
                    <p>Konya’da devlet hastaneleri, Şehir Hastanesi ve aile hekimlikleri dışında 3 adet tıp fakültesi
                        bulunmaktadır.</p>
                    <ul class="list-group-numbered" style="padding-left: 1rem;">
                        <li>Necmettin Erbakan Üniversitesi’ne bağlı Meram Tıp Fakültesi </li>
                        <li>Selçuk Üniversitesi’ne bağlı Selçuklu Tıp Fakültesi</li>
                        <li>KTO Karatay Üniversitesi Tıp Fakültesi </li>
                    </ul>
                </article>
            </div>
        </div>

        <!-- <div class="row featurette" id="1">
            <div class="col-md-12 order-md-2">
                <h2 class="fw-light" id="1">
                    Konyanın Kısa Tarihçesi
                </h2>
                <p class="fst-italic text-muted">
                    Genellikle dinî, sivil ve askerî binaların belirli yerlerine özenle işlenen kitâbe, verdiği
                    bilgilerle ve yapının estetiğini tamamlayan dekoratif bir unsur olmasıyla önem taşıyan bir mimari
                    elemandır. Çoğunlukla giriş kapıları üzerinde yer alan ve eserin kimin tarafından ne zaman
                    yapıldığını bildirene “tarih kitâbesi”, tamiri hakkında bilgi verene “tamir kitâbesi” denilir;
                    kemerlerle iç kapılar üstünde yazılı olanlara da “kitâbe levhası” adı verilir. Ayrıca yapının iç ve
                    dış duvarlarında bulunan yazılar, okçulukta atılan okun düştüğü yere dikilen nişan taşı ile (menzil
                    taşı) mezar, menzil ve mesafe taşlarına işlenmiş yazılar da kitâbe sayılır.
                    <br>
                    Günümüzde tükenme noktasına gelen bakırcılığa dayanan el sanatları Selçuklular dönemine kadar
                    uzanmaktadır ve ilk olarak Kapu Câmii civarındaki atölyelerde başlamıştır. Kitapları korumak ve
                    bezemek için kullanılan ve İslâmiyetin kabulüyle birlikte kitaba verilen önemin artmasıyla gelişen
                    ebru sanatı XVIII., XIX. ve XX. yy. örneklerine Konya Yusuf Ağa Yazma Eser Kütüphanesi'nde
                    rastlanmaktadır. Çin sınırından Bizans topraklarına kadar uzanan Selçuklu Devleti'nin Anadolu'daki
                    başkenti ve İpek Yolu üzerinde önemli bir konaklama ve ticaret merkezi olan Konya, aynı zamanda
                    İslâm Medeniyeti'ne dair yüzlerce eserin yer aldığı, birçok İslâm ilim adamının ve mutasavvıfın
                    yetiştiği ve yerleştiği önemli bir merkezdir. Kent ayrıca Anadolu Selçuklu Devleti’ni yönetmiş
                    sultanların, vezirlerin ve Mevlâna gibi manevî fatihlerin, önemli tarihî şahsiyetlerin türbelerinin,
                    vakıf eserlerinin, tekke, zaviye, mektep ve medreselerin bulunduğu bir şehirdir.
                </p>
            </div>
        </div> -->
    </div>
</div> <!-- /.container -->
<!-- END THE LG  -->