<!-- START THE LG  -->
<div class="container-fluid pe-0 ps-0 w-100" id="konya">

    <!-- Masthead -->
    <div class="bd-masthead ">
        <div class="container-fluid pe-0 ps-0">
            <div class="row g-0">
                <div class="col-12 d-flex justify-content-center">

                    <img src="assets/images/kitabeler2.webp" class="img img-fluid w-100 h-100 d-none d-lg-block" alt="" loading="lazy">

                    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg d-lg-none">
                        <img src="assets/images/kitabeler2.webp" class="img" alt="" loading="lazy">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Overview -->
    <div class="container-fluid expand-fluid">
        <div class="container mb-5 mt-5" data-bs-spy="scroll" data-bs-target="#myCarousel" data-bs-offset="0"
            tabindex="0">
            <div class="row featurette mb-5">
                <div class="col-md-12">


                    <article class="blog-post">

                        <!-- Kitabeler -->
                        <h2 class="blog-post-title mb-1" id="0">Kitabeler</h2>
                        <p class="blog-post-meta">1 Aralık, 2022. Proje ekibi tarafından güncellendi.</p>
                        <p>
                            Kitabe, Arapça kitabe kökünden gelmekte, mastar olarak <i>“yazmak”</i> ve isim olarak <i>“yazı”</i>
                            anlamlarına kullanılmaktadır. Sanat tarihi terimi olarak kitabeyi, her türlü yapı ve sanat
                            eserinde, celî sülüs, celî ta‘lîk, kûfî, ma‘kılî gibi yazı türlerinden biriyle; yapının veya
                            sanat eserinin yapım ve onarım sürecine katkısı bulunan kimseleri, sanat eserinin türünü,
                            yapılış amacını, tarihini, dua istekleri vb. duyguları ifade etmek üzere taş, tuğla, mermer,
                            maden, ahşap, seramik gibi malzemeye oyma, kabartma, kakma gibi tekniklerle yazılan her tür
                            yazı olarak tanımlamak mümkündür.
                        </p>

                        <!-- Kitabelerin Gelişimi -->
                        <h2>Kitabelerin Gelişimi</h2>
                        <p>
                            Türk-İslam sanatındaki kitabelerde kullanılan diller, Arapça, Farsça ve Türkçe olarak
                            sıralanırlar. Bu durum genelde din ve bilim dili olarak Arapçanın, edebiyat dili olarak
                            Farsçanın kabul edilmesiyle izah edilir. Ancak XVI. yüzyılın ikinci yarısından itibaren
                            kitabelerin çoğunun Türkçe ve manzum olduğu görülür.
                        </p>

                        <p>
                            Türk tarihinin en erken yazıları, Türkçe olarak Türk kelimesinin geçtiği ilk örnekler VI.
                            yüzyıla, Göktürk Hükümdarı Bilge Kağan devrine aittir. Günümüzde Moğolistan sınırları içinde
                            bulunan yazıtlar, farklı bölgelerdeki 6 adet dikili taştan oluşmaktadır. 1889 yılında Rus
                            tarihçi Yardinstev tarafından bulunan yazıtlar üzerine sonradan çok sayıda araştırma
                            yapılmıştır.
                        </p>
                        <p>
                            Selçuklular döneminden günümüze farklı yapı türlerinin üzerinde çok sayıda kitabe
                            ulaşmıştır. Burada dilin Arapça olduğu görülmektedir. Osmanlı döneminde ise Türkçe
                            kullanımının ağırlık kazandığı görülmektedir. Bazı kitabelerde tarih yazmak yerine <i>“ebced”</i> ile
                            tarih düşürme yönteminin kullanıldığı görülmektedir. Özellikle Osmanlı döneminde kullanılan
                            bu yöntem, Arap alfabesinin ilk sıralanması ve her harfin rakamsal değerine dayanan bir
                            sistemdir. Bu sistemde örneğin elif harfinin değeri <code>1</code>, sin harfinin değeri <code>60</code>, ğayn harfinin
                            değeri ise <code>1000</code>’dir. Hz. Muhammed (s.a.v.) döneminde de kullanılan harflerin ebced şeklinde
                            sıralanması, Emevî Halifesi Abdülmelik b. Mervân zamanında (685-705) değiştirilmiştir. Bu
                            yolla kitabede tarih, rakamla verilmek yerine edebî bir ifadeyle verilmiş olmaktadır.
                        </p>

                        <!-- Kitabelerin Yeri ve Çeşitleri -->
                        <h2>Kitabelerin Yeri ve Çeşitleri</h2>
                        <p>
                            Kitabeler genellikle sanat eserlerinin, insanların ilk bakışta görebilecekleri yerlerine
                            konmaktadır. Kitabeler, yapılarda söz konusu olduğu zaman; ilk inşa, sonradan yapılan
                            onarımlar (ta‘mîr), genişletme (tevsî‘), mekân ekleme veya yenileme (tecdîd) gibi
                            faaliyetleri ifade etmek üzere yazılırlar.
                        </p>
                        <!-- Kitabelerin İçeriği -->
                        <h2>Kitabelerin İçeriği</h2>
                        <p>Kitabeler dönem, bölge, yapı türüne ve sanat eserine göre farklılık göstermekle birlikte,
                            geniş anlamda:</p>
                        <ul class="list-group-numbered" style="padding-left: 1rem;">
                            <li>Yapım kipi, </li>
                            <li>Yapı türü, </li>
                            <li>Hangi hükümdar zamanında yapıldığı, </li>
                            <li>Kimin yaptırdığı, </li>
                            <li>Ne zaman yapıldığı gibi bilgileri ihtiva ederler.</li>
                            <li>Kimin için yapıldığı, </li>
                            <li>Yaptırana (mezar ise, içinde yatana) dua isteği, </li>
                            <li>Ayet, hadis, güzel sözler, şiir</li>
                        </ul>
                        <p>vb. bilgiler içerirler.</p>

                    </article>

                </div>
            </div>
        </div>
    </div>
</div> <!-- /.container -->
<!-- END THE LG  -->