<!-- START THE LG  -->
<div class="container-fluid pe-0 ps-0 w-100" id="konya">

    <!-- Carousel -->
    <div class="bd-masthead ">
        <div class="container-fluid pe-0 ps-0">
            <div class="row g-0">
                <div class="col-12 d-flex justify-content-center">

                    <img src="assets/images/kitabeler2.jpg" class="img img-fluid w-100 h-100 d-none d-lg-block" alt="">

                    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg d-lg-none">
                        <img src="assets/images/kitabeler.jpeg" class="img" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Overview -->
    <div class="container-fluid expand-fluid">
        <div class="container mb-5 mt-5" data-bs-spy="scroll" data-bs-target="#myCarousel" data-bs-offset="0"
            tabindex="0">
            <div class="row featurette mb-5">
                <div class="col-md-12">
                    <h1 class="display-4" id="0">
                        Kitabeler
                    </h1>
                    <p class="fst-italic text-muted">
                        Konya, tarih boyunca dünyanın en önemli kadim şehirlerinden biri olarak günümüze kadar
                        varolagelmiştir. Yerleşik şehir hayatının Prehistorik (tarih öncesi) çağda başladığı
                        anlaşılmakta,
                        şehir merkezine yakın olan bir konumda bulunan Çatalhöyük, bugüne kadar keşfedilmiş en eski ve
                        en
                        gelişmiş Neolitik devir yerleşim merkezi olarak bilinmektedir. Çumra Çatalhöyük, dünya ölçüsünde
                        ilk
                        defa yemek kültürünün başladığı, tarımın yapıldığı, ateşin kullanıldığı, yerleşik hayata
                        geçildiği
                        ve vahşi hayvan saldırılarına karşı ortak savunmanın yapıldığı merkez olarak tanınmaktadır.
                        Benzer
                        şekilde Alâaddin Tepesinde de Çatalhöyüğe benzer karakterde neolitik izlere rastlanmaktadır.
                        <br>
                        Şehrin merkezini oluşturan Alâaddin Tepesi Neolitik dönem (M.Ö 9000-5000) sonları ile Kalkolitik
                        dönem (M.Ö. 5500-3000) başlarında kurulmuş olup M.Ö. 2000 yıllarından beri düzenli olarak iskân
                        görmüş höyüklerden biridir. Bölgede yapılan kazılarda Frig, Helenistik, Roma, Bizans, Selçuklu
                        ve
                        Osmanlı yerleşimlerine ait bulgular elde edilmiştir. Tarih devirlerinde Anadolu ve Suriye
                        topraklarında büyük bir imparatorluk kuran Hititler, Konya'ya da hâkim olmuşlardır.
                        <br>
                        M.Ö.VIII. ve VIII. yüzyıllarda ise Frigler zamanında surlarla çevrilmiş İç Kale’de (Alâaddin
                        Tepesi'nde) gelişen Konya (Kavania) bir kale-kent hâline gelmiştir. Frigler'den sonra
                        Lidyalılar'ın
                        egemenliğine giren Konya, daha sonra M.Ö.4. yüzyılda Persler ve M.Ö.2. yüzyılda da Büyük
                        İskender,
                        Selevkoslar ve Bergama krallığının istilâsına uğramıştır. M.S.395’te Anadolu'da Roma hakimiyeti
                        sağlanınca Konya, İconium olarak varlığını korumuştur. Arapların Kuniya diye adlandırdıkları
                        kentin
                        adı Selçuklu ve Osmanlı dönemlerinde bir daha değişmemiş ve günümüze kadar gelen ismini
                        korumuştur.
                        <br>
                        Konya, neolitik çağdan günümüze kadar uzanan süreçte bir yerleşim yeri olarak çağlar boyunca
                        önemli
                        medeniyetlere ev sahipliği yapmıştır. Böylece kent farklı toplumların farklı üretim ve yapım
                        teknikleri ile meydana getirdikleri birçok sanat eserine sahip olmuştur. Konya'da Mısırlılardan
                        önce
                        hiyeroglif yazının kullanıldığı tarihte (M.Ö.3500) ilk ev mimarî ve ilk kutsal yapı
                        kalıntılarına
                        rastlanmaktadır. Hıristiyanlık devrinde ait Anadolu'daki en eski Hıristiyan yerleşimine ve en
                        eski
                        kiliselerine de bu bölgede rastlanmaktadır.
                    </p>
                </div>
            </div>

            <!-- <div class="row featurette" id="1">
            <div class="col-md-12 order-md-2">
                <h2 class="fw-light" id="1">
                    Konyanın Kısa Tarihçesi
                </h2>
                <p class="fst-italic text-muted">
                    Genellikle dinî, sivil ve askerî binaların belirli yerlerine özenle işlenen kitâbe, verdiği
                    bilgilerle ve yapının estetiğini tamamlayan dekoratif bir unsur olmasıyla önem taşıyan bir mimari
                    elemandır. Çoğunlukla giriş kapıları üzerinde yer alan ve eserin kimin tarafından ne zaman
                    yapıldığını bildirene “tarih kitâbesi”, tamiri hakkında bilgi verene “tamir kitâbesi” denilir;
                    kemerlerle iç kapılar üstünde yazılı olanlara da “kitâbe levhası” adı verilir. Ayrıca yapının iç ve
                    dış duvarlarında bulunan yazılar, okçulukta atılan okun düştüğü yere dikilen nişan taşı ile (menzil
                    taşı) mezar, menzil ve mesafe taşlarına işlenmiş yazılar da kitâbe sayılır.
                    <br>
                    Günümüzde tükenme noktasına gelen bakırcılığa dayanan el sanatları Selçuklular dönemine kadar
                    uzanmaktadır ve ilk olarak Kapu Câmii civarındaki atölyelerde başlamıştır. Kitapları korumak ve
                    bezemek için kullanılan ve İslâmiyetin kabulüyle birlikte kitaba verilen önemin artmasıyla gelişen
                    ebru sanatı XVIII., XIX. ve XX. yy. örneklerine Konya Yusuf Ağa Yazma Eser Kütüphanesi'nde
                    rastlanmaktadır. Çin sınırından Bizans topraklarına kadar uzanan Selçuklu Devleti'nin Anadolu'daki
                    başkenti ve İpek Yolu üzerinde önemli bir konaklama ve ticaret merkezi olan Konya, aynı zamanda
                    İslâm Medeniyeti'ne dair yüzlerce eserin yer aldığı, birçok İslâm ilim adamının ve mutasavvıfın
                    yetiştiği ve yerleştiği önemli bir merkezdir. Kent ayrıca Anadolu Selçuklu Devleti’ni yönetmiş
                    sultanların, vezirlerin ve Mevlâna gibi manevî fatihlerin, önemli tarihî şahsiyetlerin türbelerinin,
                    vakıf eserlerinin, tekke, zaviye, mektep ve medreselerin bulunduğu bir şehirdir.
                </p>
            </div>
        </div> -->
        </div>
    </div>
</div> <!-- /.container -->
<!-- END THE LG  -->