<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ps-lg-2">
    <h1 class="h2">Tarihi Eserler</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-outline-secondary" routerLink="/admin/artifact/add">Ekle</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> -->
        </div>
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
        </button> -->
    </div>
</div>

<div class="table-responsive">
    <table class="table align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">İsim</th>
                <th scope="col">Tarih</th>
                <th scope="col">Açıklama</th>
                <th scope="col">Kitabe Anlamı</th>
                <th scope="col">Kitabe Metni</th>
                <th scope="col">Eser Türü</th>
                <th scope="col">Dönem</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let artifact of artifacts" class="align-bottom">
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 150px;">
                        {{getTranslate(artifact.artifact.name)}}
                    </span>
                </td>
                <td>{{artifact.artifact.date}}</td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 150px;">
                        {{getTranslate(artifact.artifact.description)}}
                    </span>
                </td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 150px;">
                        {{getTranslate(artifact.artifact.epitaph)}}
                    </span>
                </td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 150px;">
                        {{artifact.artifact.originalEpitaph}}
                    </span>
                </td>
                <td>{{artifact.artifactType.name}}</td>
                <td>{{artifact.historicalPeriod.name}}</td>
                <td>
                    <button class="btn shadow-none" (click)="goUpdateForm(artifact)">
                        <fa-icon [icon]="faEdit" class="fa-icon-edit 1x"></fa-icon>
                    </button>
                    <button class="btn shadow-none">
                        <fa-icon [icon]="faTrash" class="fa-icon-trash 1x" (click)="openDeleteForm(artifact.artifact)">
                        </fa-icon>
                    </button>
                    <button class="btn shadow-none">
                        <fa-icon [icon]="faEye" class="fa-icon-eye 1x"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>