<!-- START THE LG  -->
<div class="container-fluid pe-0 ps-0 w-100 ">

    <!-- Carousel -->
    <div class="bd-masthead">
        <!-- <div class="container-fluid pe-0 ps-0">
            <div class="row g-0">
                <div class="col-12 d-flex justify-content-center">
                    <img src="assets/images/homepg-1.jpg" class="w-100 h-100" alt="">
                </div>
            </div>
        </div> -->
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-sm-12 col-lg-6 img-shadow">
                    <img src="assets/images/kitabe2.jpg" class="d-block mx-lg-auto img-fluid" alt=""
                        width="700" height="500">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Kitabelerin Dili</h1>
                    <p class="lead">
                        Genellikle dinî, sivil ve askerî binaların belirli yerlerine özenle işlenen kitâbe, verdiği
                        bilgilerle ve yapının estetiğini tamamlayan dekoratif bir unsur olmasıyla önem taşıyan bir
                        mimari
                        elemandır.
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> -->
                        <button type="button" routerLink="/kitabeler-hakkında" class="btn btn-outline-dark btn-lg px-4">Daha Fazla</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Overview -->
    <div class="container marketing mb-5 mt-5" data-bs-spy="scroll" data-bs-target="#myCarousel" data-bs-offset="0"
        tabindex="0">
        <div class="row featurette" style="margin-top: 5%;">
            <div class="col-md-5 order-md-1 d-flex align-items-center">
                <img src="assets/images/konya.jpg" alt="" width="500" height="500" class="img-fluid">
            </div>
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading-2" id="0">
                    Konyamız
                </h2>
                <p class="lead text-muted">
                    Cennet Yurdumuzun, adı eski devirlerden beri değişmeyen şehirlerinden biri de Konya'dır. Konya
                    adının "Kutsal Tasvir" anlamındaki "İkon" sözcüğüne bağlı olduğu iddia edilir. Bu konuda değişik
                    rivayetler bulunmaktadır. Bunlardan biri; kente dadanan ejderhayı öldüren kişiye şükran ifadesi
                    olarak bir anıt yapılır ve üzerine de olayı anlatan bir resim çizilir. Bu anıta verilen isim,
                    "İkonion" dur.
                </p>
                <a class="btn btn-light px-5 rounded-pill shadow-sm" (click)="scrollTop('/konya', 'konya')">Daha
                    Fazla</a>
            </div>
            
        </div>
        
        <hr class="featurette-divider">

        <div class="row featurette" style="margin-top: 5%;">
            <div class="col-md-5 order-md-2">
                <img src="assets/images/sanal-gezi.png" alt="" width="500" height="500" class="img-fluid">
            </div>
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading" id="0">
                    Sanal Gezimiz
                </h2>
                <p class="lead text-muted">
                    Genellikle dinî, sivil ve askerî binaların belirli yerlerine özenle işlenen kitâbe, verdiği
                    bilgilerle ve yapının estetiğini tamamlayan dekoratif bir unsur olmasıyla önem taşıyan bir mimari
                    elemandır. Çoğunlukla giriş kapıları üzerinde yer alan ve eserin kimin tarafından ne zaman
                </p>
            </div>
        </div>
    </div>
</div> <!-- /.container -->
<!-- END THE LG  -->