<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ps-lg-2">
    <h1 class="h2">Kullanıcılar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
        </button>
    </div>
</div>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">İsim</th>
            <th scope="col">Soy İsim</th>
            <th scope="col">Email</th>
            <th scope="col">Durum</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.status}}</td>
            <td class="text-right">
                <a><fa-icon [icon]="faCog" size="1x" class="fa-icon me-2" (click)="openEditUserModal(user)"></fa-icon></a>
            </td>
        </tr>
    </tbody>
</table>

<!-- <ng-template #usereditmodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit User Settings</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>

</ng-template> -->