<body class="text-center">
    <main class="my-source w-100 m-auto">
        <div class="d-flex justify-content-start">
            <h1 class="fw-normal">Referanslar</h1>
        </div>
        <hr class="text-dark border-2 opacity-100 mb-5">

        <p class="text-start">Projemizde kullanılan referanslar.</p>
        <ul class="icon-list ps-0">
            <li *ngFor="let reference of references; let i = index;" class="d-flex text-start align-items-center mb-1">
                <fa-icon [icon]="faArrowCircleRight" class="me-3" style="font-size: 24px;"></fa-icon>
                <a class="text-dark link-dark text-decoration-none">
                    {{references[i].reference}}
                </a>
            </li>
        </ul>

    </main>
</body>