<div class="my-shadow">
    <div class="container py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-6 text-start text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Hakkımızda</h1>
                <p class="col-lg-10 fs-4">TÜBİTAK 54. Lise Öğrencileri Araştırma Projeleri kapsamında hazırlanan “Konya
                    Kitabeleri” projesi kullanımı kolay bir web sitesidir. Sitemizde Konya’da farklı dönemlerde hüküm sürmüş
                    medeniyetlere ait tarihi yapılar ve bu yapılara ait kitabe bilgileri yer almaktadır.</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <!-- <img src="assets/images/ff.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> -->
            </div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">

        <!-- H1 -->
        <div class="row align-items-center" style="margin-bottom: 8.7rem;">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1 class="font-weight-light">Proje Hakkında</h1>
                <p class="font-italic text-muted mb-4">
                    Her tarihi yapı ve kitabesi bizlere yapıldıkları dönemin tarihi, sanatı ve kültürel kodları hakkında
                    önemli bilgiler aktarmaktadır. Projemizde, Konya kültür ve sanat tarihine dair önemli bilgi
                    kodlarını üzerinde barındıran tarihi yapıları ve bu yapılarda yer alan kitabelerin
                    konumlandırılması, kayıt altına alınması ve korunmasına yönelik etkileşimli “dijital” bilgi aktarım
                    ve yönetim sisteminin oluşturulması ve böylece kültürel mirasımızın gelecek kuşaklara doğru ve
                    sağlıklı bir şekilde aktarılması amaçlanmıştır.
                </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                <img src="assets/images/logo-big.png" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
        </div>

        <!-- H2 -->
        <div class="row align-items-center mb-5">
            <div class="col-lg-5 px-5 mx-auto">
                <img src="assets/images/home-h2.jpeg" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
            <div class="col-lg-6">
                <h1 class="font-weight-light">Yapı Tanıtım Kimlik Kartı</h1>
                <p class="font-italic text-muted mb-4">
                    Çalışma ile sahip olduğumuz tarihi, edebi ve kültürel zenginliğimize araştırmacıların, yerli ve
                    yabancı ziyaretçilerin doğru bilgiye hızlı olarak ulaşmalarını sağlamak istedik. Bunun için de “Yapı
                    Tanıtım Kimlik Kartı” nı tasarladık. Tarihi yapılara yerleştirilecek bu dijital kimlik kartı
                    sayesinde ziyaretçiler yapı hakkındaki bilgilere, yapının kitabesine ve kitabelerinin Türkçe
                    çevirilerine akıllı cihazlar üzerinden ulaşabileceklerdir. Kimlik kartına entegre edilen NFC sistemi
                    ile de görme ve işitme engelliler de yapı hakkındaki bilgilere ve yapının kitabe bilgilerine
                    engelsiz olarak ulaşabileceklerdir.
                </p>
            </div>
        </div>
    </div>
</div>