<body>
    <div class="container-xxl my-gutter mt-3 my-md-4 my-layout">

        <div class="bd-content pt-4">
            <div class="mb-5">
                <h2 id="approach-2">
                    Hakkında
                </h2>
                <img *ngIf="artifact && artifact?.artifactImages" [src]="baseUrl+artifact.artifactImages[0].path" alt=""
                    width="500" height="500" class="img-fluid">
                <p class="mt-3" id="1">
                    {{getTranslate(artifact?.artifact?.epitaph!)}}
                </p>
            </div>
            <div class="mb-5">
                <h2 id="approach-3">
                    Kitabesi
                </h2>
                <img *ngIf="artifact.epitaphImage" [src]="baseUrl+artifact?.epitaphImage?.path" alt="" width="500" height="500"
                    class="img-fluid">
                <p class="mt-4" id="2">
                    {{getTranslate(artifact?.artifact?.epitaph!)}}
                    <a class="link" data-bs-toggle="collapse" href="#originalEpitaph" role="button"
                        aria-expanded="false" aria-controls="originalEpitaph">
                        Orijinal Metin
                    </a>
                </p>

                <div class="collapse" id="originalEpitaph">
                    <div class="card card-body">
                        {{artifact?.artifact?.originalEpitaph}}
                    </div>
                </div>

            </div>
            <div class="mb-5">
                <h2 id="approach-4">
                    Sanal Gezisi
                </h2>
                <!-- <img [src]="artifact?.artifact?.epitaphImagePath" alt="" width="500" height="500" class="img-fluid"> -->
            </div>
            <div class="mb-5">
                <h2 id="approach-5">
                    Konumu
                </h2>
            </div>
        </div>
    </div>
</body>