<div class="modal-header">
    <h5 class="modal-title">Eser Türünü Sil</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <p>Bu eser Türünü silmek istediğinizden emin misiniz?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
        (click)="close()">{{getTranslate('close')}}</button>
    <button type="button" class="btn btn-danger" (click)="delete()">{{getTranslate('delete')}}</button>
</div>