<div>
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 95vh"
    *ngIf="!isbuttonPressed"
  >
    <div class="card text-center rounded-4 text-bg-light" style="width: 36rem; height: 36rem">
      <div class="card-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        
        <!-- Kamerayı Aç Butonu -->
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="onButtonClick()"
          style="width: 200px; height: 50px; margin-bottom: 30px;"
        >
          📷 Kamerayı Aç
        </button>

        <!-- Kitabe Ekle Butonu -->
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="onKitabeEkleClick()"
          style="width: 200px; height: 50px;"
        >
          ➕ Kitabe Ekle
        </button>

      </div>
    </div>
  </div>

  <iframe
    *ngIf="isbuttonPressed"
    src="https://ardaa83.github.io/konya-kitabeleri/index.html"
    width="100%"
    height="100%"
    frameborder="0"
    allow="camera"
    style="border: none; min-height: 100vh"
  ></iframe>
</div>