<div class="container mt-5 w-100">
    <h1 class="display-4">{{getTranslate('gallery')}}</h1>
    <hr class="">

    <!-- LG -->
    <div class="d-none d-lg-block mb-5">


        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let artifact of artifactsDetails; let i = index;" class="col">
                <div class="card text-white bg-dark h-100">
                    <!-- border-light -->
                    <img *ngIf="artifact.artifactImages[0]?.path" [src]="artifact.artifactImages[0].path"
                        class="card-img-top" alt="..." (click)="open(artifact.artifactImages[0].path, content)">
                    <img *ngIf="!artifact.artifactImages[0]" src="https://www.waterstation.com.tr/img/default.jpg"
                        class="card-img-top" alt="..." (click)="open('', content)">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{getTranslate(artifact.artifact.name)}}
                        </h5>
                        <p class="card-text text-muted" style="overflow-wrap: break-word; white-space: pre-wrap;">
                            {{getTranslate(artifact.artifact.description)}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SM -->
    <!-- <div class="d-lg-none mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let mold of molds; let i = index;" class="col">
                <div class="card tex-white bg-dark h-100">
                    <img [src]="mold.path" class="card-img-top" alt="..." (click)="open(mold.path, content)">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{getTranslate(mold.name)}}
                        </h5>
                        <p class="card-text text-muted" style="overflow-wrap: break-word; white-space: pre-wrap;">
                            {{getTranslate(mold.description)}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <img [src]="currentPhotoPath" class="img-fluid" alt="...">
    </div>
</ng-template>