/* You can add global styles to this file, and also import other style files */

@media (min-width: 768px) {
  .featurette-heading {
    color: black;
    font-weight: 400;
    font-size: 50px;
  }

  .featurette-heading-2 {
    color: black;
    font-weight: 400;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .featurette-heading {
    color: black;
    font-weight: 400;
    font-size: 35px;
  }

  .featurette-heading-2 {
    color: black;
    font-weight: 400;
    font-size: 35px;
  }
}


:root {
  --app-background-color: rgb(238, 238, 238);
  --app-home-color: rgb(1, 216, 169);
  --app-default-color: rgb(1, 216, 169);
  --app-navi-profile-hover-color: rgba(202, 202, 202, 0.1);
  --app-navi-dropdown-hover-color: rgba(255, 255, 255, 0.45);
  --btn-light-color: rgb(247, 247, 247);
}
