/* You can add global styles to this file, and also import other style files */

@media (min-width: 768px) {
  .featurette-heading {
    color: black;
    font-weight: 400;
    font-size: 50px;
  }

  .featurette-heading-2 {
    color: black;
    font-weight: 400;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .featurette-heading {
    color: black;
    font-weight: 400;
    font-size: 35px;
  }

  .featurette-heading-2 {
    color: black;
    font-weight: 400;
    font-size: 35px;
  }
}

.fa-icon-refresh {
  color: rgb(0, 140, 255);
  font-size: 24px;
}

.fa-icon-refresh:hover {
  color: rgb(61, 194, 255);
  transition: 0.2s;
}

.fa-icon-trash:hover {
  color: red;
  transition: 0.2s;
}

.fa-icon-edit:hover {
  color: rgb(0, 194, 0);
  transition: 0.2s;
}

.fa-icon-eye:hover {
  color: rgb(0, 127, 247);
  transition: 0.2s;
}

.fa-icon-cog:hover {
  color: #b4b4b4;
  transition: 0.2s;
}

.fa-icon-clipboard:hover {
  color: #fdad00;
  transition: 0.2s;
}

:root {
  --app-background-color: rgb(238, 238, 238);
  --app-home-color: rgb(1, 216, 169);
  --app-default-color: rgb(1, 216, 169);
  --app-navi-profile-hover-color: rgba(202, 202, 202, 0.1);
  --app-navi-dropdown-hover-color: rgba(255, 255, 255, 0.45);
  --btn-light-color: rgb(247, 247, 247);
  --app-list-color: #d2f4ea;
}
